@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #54a1f4;
  font-family: 'Gloria Hallelujah', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
