@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
}

body {
  scrollbar-width: thin;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}
